		.jqstooltip {
			position: absolute;
			left: 0px;
			top: 0px;
			visibility: hidden;
			background: rgb(0, 0, 0) transparent;
			background-color: rgba(0,0,0,0.6);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
			color: white;font: 10px arial, san serif;
			text-align: left;
			white-space: nowrap;
			padding: 5px;
			border: 1px solid white;
			z-index: 10000;
		}
		.jqsfield {
			color: white;
			font: 10px arial, san serif;
			text-align: left;
		}

		.tooltipvideo {
			position: absolute;
			width: 300px;
			height: 200px;
			max-width: 300px;
			max-height: 200px;
			display: none;
			color: #FFFFFF;
			background-color: #555;
			vertical-align: center;
			text-align: center;
			padding: 5px;
			border-radius: 6px;
			z-index: 2;
		}
		.tooltipvideo::after {
			content: "";
			position: absolute;
			top: 20%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent #555 transparent transparent;
		}

		.tooltipaudio {
			position: absolute;
			width: 100px;
			height: 100px;
			max-width: 100px;
			max-height: 100px;
			display: none;
			color: #FFFFFF;
			background-color: #555;
			vertical-align: center;
			text-align: center;
			padding: 5px;
			border-radius: 6px;
			z-index: 2;
		}
		.tooltipaudio::after {
			content: "";
			position: absolute;
			top: 40%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent #555 transparent transparent;
		}

		.tooltipprint {
			position: absolute;
			width: 200px;
			height: 300px;
			max-width: 200px;
			max-height: 300px;
			display: none;
			color: #FFFFFF;
			background-color: #555;
			vertical-align: center;
			text-align: center;
			padding: 5px;
			border-radius: 6px;
			z-index: 2;
		}
		.tooltipprint::after {
			content: "";
			position: absolute;
			top: 10%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent #555 transparent transparent;
		}

		.tooltiponline {
			position: absolute;
			width: 200px;
			height: 300px;
			max-width: 200px;
			max-height: 300px;
			overflow-y: auto;
			display: none;
			color: #FFFFFF;
			background-color: #555;
			vertical-align: center;
			text-align: center;
			padding: 5px;
			border-radius: 6px;
			z-index: 2;
		}
		.tooltiponline::after {
			content: "";
			position: absolute;
			top: 10%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent #555 transparent transparent;
		}

		.modal-lg-snews {
			width: 95%;
		}

		.modal-lg-sa {
			width: 80%;
		}

		.listg-subkey {
			width: 400px;
			max-height: 500px;
			overflow-y: auto;
			display: none;
		}

		.btn-subjects {
			text-decoration: bold;
		}

		.actual_range {
			display: inline-block;
		}

		.mapael .map {
			margin: auto;
			position: relative;
			top: 50%;
			left: 12%;
		}

		.mapael .mapTooltip {
			position: absolute;
			background-color: #D1D1D1;
			moz-opacity: 0.70;
			opacity: 0.70;
			filter: alpha(opacity=70);
			border-radius: 10px;
			padding: 10px;
			z-index: 1000;
			max-width: 200px;
			display: none;
			color: #343434;
		}

		.kwgrifar {
			color: white;
			background-color: red;
			/*font-size: 110%;*/
		}

		.clockpicker-popover {
			z-index: 999999 !important;
		}

		.imggrad {
			cursor: pointer;
			height: 100%;
			width: 100%;
			float: left;
			position: absolute;
			background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1));
			z-index: 1000;
		}
		.imggrad span {
			position: absolute;
			bottom: 0;
			left: 28%;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
		}
		.imggrad span:hover {
			text-decoration: underline;
		}


		.hollow-dots-spinner, .hollow-dots-spinner * {
			box-sizing: border-box;
		}

		.hollow-dots-spinner {
			height: 25px;
			width: calc(50px * 3);
		}

		.hollow-dots-spinner .dot {
			width: 25px;
			height: 25px;
			margin: 0 calc(25px / 2);
			border: calc(25px / 5) solid #000000;
			border-radius: 50%;
			float: left;
			transform: scale(0);
			animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
		}

		.hollow-dots-spinner .dot:nth-child(1) {
			animation-delay: calc(100ms * 1);
		}

		.hollow-dots-spinner .dot:nth-child(2) {
			animation-delay: calc(100ms * 2);
		}

		.hollow-dots-spinner .dot:nth-child(3) {
			animation-delay: calc(100ms * 3);
		}

		.mgr-center{
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		@keyframes hollow-dots-spinner-animation {
			50% {
				transform: scale(1);
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		video::-internal-media-controls-download-button { display:none; }
		video::-webkit-media-controls-enclosure { overflow:hidden; }
		video::-webkit-media-controls-panel { width: calc(100% + 30px); }

		audio::-internal-media-controls-download-button { display:none; }
		audio::-webkit-media-controls-enclosure { overflow:hidden; }
		audio::-webkit-media-controls-panel { width: calc(100% + 30px); }